[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/devwraithe/whitelist-transfer-hook.git
	branch = main
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/devwraithe/escrow-litesvm.git
	branch = main
[submodule "transfer-hook-vault"]
	path = transfer-hook-vault
	url = https://github.com/devwraithe/transfer-hook-vault.git
	branch = main
[submodule "magicblock-er-accel"]
	path = magicblock-er-accel
	url = https://github.com/devwraithe/magicblock-er-accel
	branch = main
[submodule "escrow-tuktuk"]
	path = escrow-tuktuk
	url = https://github.com/devwraithe/escrow-tuktuk.git
	branch = master
